// .column {
//     display: flex;
//     flex-direction: column;
// }

// .row {
//     display: flex;
//     flex-direction: row;
// }

.experience-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    gap: 40rem;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
}

@media (max-width: 768px) {
    .experience-container {
        flex-direction: column;
        align-items: center;
    }

    .left-column,
    .right-column {
        width: 100%;
        align-items: center;
    }
}

.Typewriter__wrapper {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 2em;
    font-family: 'Italiana';
    letter-spacing: 0.05em;
}

.Typewriter__cursor {
    text-decoration: none;
    animation: Typewriter-cursor 1s infinite;
    margin-left: 1px;
    font-size: 1.5em;
}

.typewriter-container {
    margin-top: 50em;
}

.card {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 90px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; // Fixed width to prevent resizing
    height: 60px;
    white-space: nowrap;
}